[submodule "docs/submodules/vnfrqts/guidelines"]
	path = docs/submodules/vnfrqts/guidelines.git
	url = ../vnfrqts/guidelines
	branch = .
	ignore = dirty
[submodule "docs/submodules/vnfrqts/requirements"]
	path = docs/submodules/vnfrqts/requirements.git
	url = ../vnfrqts/requirements
	branch = .
	ignore = dirty
[submodule "docs/submodules/appc"]
	path = docs/submodules/appc.git
	url = ../appc
	branch = .
	ignore = dirty
[submodule "docs/submodules/cli"]
	path = docs/submodules/cli.git
	url = ../cli
        branch = .
        ignore = dirty
[submodule "docs/submodules/clamp"]
	path = docs/submodules/clamp.git
	url = ../clamp
        branch = .
        ignore = dirty
[submodule "docs/submodules/appc/deployment.git"]
	path = docs/submodules/appc/deployment.git
	url = ../appc/deployment
        branch = .
        ignore = dirty
[submodule "docs/submodules/aai/search-data-service.git"]
	path = docs/submodules/aai/search-data-service.git
	url = ../aai/search-data-service
        branch = .
        ignore = dirty
[submodule "docs/submodules/optf/has.git"]
	path = docs/submodules/optf/has.git
	url = ../optf/has
        branch = .
        ignore = dirty
[submodule "docs/submodules/dcaegen2.git"]
	path = docs/submodules/dcaegen2.git
	url = ../dcaegen2
        branch = .
        ignore = dirty
[submodule "docs/submodules/aaf/authz.git"]
	path = docs/submodules/aaf/authz.git
	url = ../aaf/authz
        branch = .
        ignore = dirty
[submodule "docs/submodules/policy/engine.git"]
	path = docs/submodules/policy/engine.git
	url = ../policy/engine
        branch = .
        ignore = dirty
[submodule "docs/submodules/vnfsdk/model.git"]
	path = docs/submodules/vnfsdk/model.git
	url = ../vnfsdk/model
        branch = .
        ignore = dirty
[submodule "docs/submodules/holmes/rule-management.git"]
	path = docs/submodules/holmes/rule-management.git
	url = ../holmes/rule-management
	branch = .
	ignore = dirty
[submodule "docs/submodules/holmes/engine-management.git"]
	path = docs/submodules/holmes/engine-management.git
	url = ../holmes/engine-management
	branch = .
	ignore = dirty
[submodule "docs/submodules/vfc/nfvo/lcm.git"]
	path = docs/submodules/vfc/nfvo/lcm.git
	url = ../vfc/nfvo/lcm
	branch = .
	ignore = dirty
[submodule "docs/submodules/msb/apigateway.git"]
	path = docs/submodules/msb/apigateway.git
	url = ../msb/apigateway
	branch = .
	ignore = dirty
[submodule "docs/submodules/msb/discovery.git"]
	path = docs/submodules/msb/discovery.git
	url = ../msb/discovery
	branch = .
	ignore = dirty
[submodule "docs/submodules/msb/java-sdk.git"]
	path = docs/submodules/msb/java-sdk.git
	url = ../msb/java-sdk
	branch = .
	ignore = dirty
[submodule "docs/submodules/msb/swagger-sdk.git"]
	path = docs/submodules/msb/swagger-sdk.git
	url = ../msb/swagger-sdk
	branch = .
	ignore = dirty
[submodule "docs/submodules/modeling/modelspec.git"]
	path = docs/submodules/modeling/modelspec.git
	url = ../modeling/modelspec
	branch = .
	ignore = dirty
[submodule "docs/submodules/dmaap/messagerouter/messageservice.git"]
	path = docs/submodules/dmaap/messagerouter/messageservice.git
	url = ../dmaap/messagerouter/messageservice
        branch = .
        ignore = dirty
[submodule "docs/submodules/aai/esr-server.git"]
	path = docs/submodules/aai/esr-server.git
	url = ../aai/esr-server
	branch = .
	ignore = dirty
[submodule "docs/submodules/oom.git"]
	path = docs/submodules/oom.git
	url = ../oom
	branch = .
	ignore = dirty
[submodule "docs/submodules/aai/aai-common.git"]
	path = docs/submodules/aai/aai-common.git
	url = ../aai/aai-common
	branch = .
	ignore = dirty
[submodule "docs/submodules/aai/resources.git"]
	path = docs/submodules/aai/resources.git
	url = ../aai/resources
	branch = .
	ignore = dirty
[submodule "docs/submodules/aai/traversal.git"]
	path = docs/submodules/aai/traversal.git
	url = ../aai/traversal
	branch = .
	ignore = dirty
[submodule "docs/submodules/aai/esr-gui.git"]
	path = docs/submodules/aai/esr-gui.git
	url = ../aai/esr-gui
	branch = .
	ignore = dirty
[submodule "docs/submodules/aai/data-router.git"]
	path = docs/submodules/aai/data-router.git
	url = ../aai/data-router
	branch = .
	ignore = dirty
[submodule "docs/submodules/aai/sparky-fe.git"]
	path = docs/submodules/aai/sparky-fe.git
	url = ../aai/sparky-fe
	branch = .
	ignore = dirty
[submodule "docs/submodules/aai/sparky-be.git"]
	path = docs/submodules/aai/sparky-be.git
	url = ../aai/sparky-be
	branch = .
	ignore = dirty
[submodule "docs/submodules/integration.git"]
	path = docs/submodules/integration.git
	url = ../integration
	branch = .
	ignore = dirty
[submodule "docs/submodules/multicloud/framework.git"]
	path = docs/submodules/multicloud/framework.git
	url = ../multicloud/framework
	branch = .
	ignore = dirty
[submodule "docs/submodules/ccsdk/dashboard.git"]
	path = docs/submodules/ccsdk/dashboard.git
	url = ../ccsdk/dashboard
	branch = .
	ignore = dirty
[submodule "docs/submodules/ccsdk/distribution.git"]
	path = docs/submodules/ccsdk/distribution.git
	url = ../ccsdk/distribution
	branch = .
	ignore = dirty
[submodule "docs/submodules/ccsdk/parent.git"]
	path = docs/submodules/ccsdk/parent.git
	url = ../ccsdk/parent
	branch = .
	ignore = dirty
[submodule "docs/submodules/ccsdk/platform/blueprints.git"]
	path = docs/submodules/ccsdk/platform/blueprints.git
	url = ../ccsdk/platform/blueprints
	branch = .
	ignore = dirty
[submodule "docs/submodules/ccsdk/platform/nbapi.git"]
	path = docs/submodules/ccsdk/platform/nbapi.git
	url = ../ccsdk/platform/nbapi
	branch = .
	ignore = dirty
[submodule "docs/submodules/ccsdk/platform/plugins.git"]
	path = docs/submodules/ccsdk/platform/plugins.git
	url = ../ccsdk/platform/plugins
	branch = .
	ignore = dirty
[submodule "docs/submodules/ccsdk/sli/adaptors.git"]
	path = docs/submodules/ccsdk/sli/adaptors.git
	url = ../ccsdk/sli/adaptors
	branch = .
	ignore = dirty
[submodule "docs/submodules/ccsdk/sli/core.git"]
	path = docs/submodules/ccsdk/sli/core.git
	url = ../ccsdk/sli/core
	branch = .
	ignore = dirty
[submodule "docs/submodules/ccsdk/sli/northbound.git"]
	path = docs/submodules/ccsdk/sli/northbound.git
	url = ../ccsdk/sli/northbound
	branch = .
	ignore = dirty
[submodule "docs/submodules/ccsdk/sli/plugins.git"]
	path = docs/submodules/ccsdk/sli/plugins.git
	url = ../ccsdk/sli/plugins
	branch = .
	ignore = dirty
[submodule "docs/submodules/ccsdk/storage/esaas.git"]
	path = docs/submodules/ccsdk/storage/esaas.git
	url = ../ccsdk/storage/esaas
	branch = .
	ignore = dirty
[submodule "docs/submodules/ccsdk/storage/pgaas.git"]
	path = docs/submodules/ccsdk/storage/pgaas.git
	url = ../ccsdk/storage/pgaas
	branch = .
	ignore = dirty
[submodule "docs/submodules/ccsdk/utils.git"]
	path = docs/submodules/ccsdk/utils.git
	url = ../ccsdk/utils
	branch = .
	ignore = dirty
[submodule "docs/submodules/sdnc/adaptors.git"]
	path = docs/submodules/sdnc/adaptors.git
	url = ../sdnc/adaptors
	branch = .
	ignore = dirty
[submodule "docs/submodules/sdnc/architecture.git"]
	path = docs/submodules/sdnc/architecture.git
	url = ../sdnc/architecture
	branch = .
	ignore = dirty
[submodule "docs/submodules/sdnc/core.git"]
	path = docs/submodules/sdnc/core.git
	url = ../sdnc/core
	branch = .
	ignore = dirty
[submodule "docs/submodules/sdnc/features.git"]
	path = docs/submodules/sdnc/features.git
	url = ../sdnc/features
	branch = .
	ignore = dirty
[submodule "docs/submodules/sdnc/northbound.git"]
	path = docs/submodules/sdnc/northbound.git
	url = ../sdnc/northbound
	branch = .
	ignore = dirty
[submodule "docs/submodules/sdnc/oam.git"]
	path = docs/submodules/sdnc/oam.git
	url = ../sdnc/oam
	branch = .
	ignore = dirty
[submodule "docs/submodules/sdnc/parent.git"]
	path = docs/submodules/sdnc/parent.git
	url = ../sdnc/parent
	branch = .
	ignore = dirty
[submodule "docs/submodules/sdnc/plugins.git"]
	path = docs/submodules/sdnc/plugins.git
	url = ../sdnc/plugins
	branch = .
	ignore = dirty
[submodule "docs/submodules/portal.git"]
	path = docs/submodules/portal.git
	url = ../portal
	branch = .
	ignore = dirty
[submodule "docs/submodules/sdc.git"]
	path = docs/submodules/sdc.git
	url = ../sdc
	branch = .
	ignore = dirty
[submodule "docs/submodules/sdc/jtosca.git"]
	path = docs/submodules/sdc/jtosca.git
	url = ../sdc/jtosca
	branch = .
	ignore = dirty
[submodule "docs/submodules/sdc/sdc-distribution-client.git"]
	path = docs/submodules/sdc/sdc-distribution-client.git
	url = ../sdc/sdc-distribution-client
	branch = .
	ignore = dirty
[submodule "docs/submodules/sdc/sdc-docker-base.git"]
	path = docs/submodules/sdc/sdc-docker-base.git
	url = ../sdc/sdc-docker-base
	branch = .
	ignore = dirty
[submodule "docs/submodules/sdc/sdc-titan-cassandra.git"]
	path = docs/submodules/sdc/sdc-titan-cassandra.git
	url = ../sdc/sdc-titan-cassandra
	branch = .
	ignore = dirty
[submodule "docs/submodules/sdc/sdc-tosca.git"]
	path = docs/submodules/sdc/sdc-tosca.git
	url = ../sdc/sdc-tosca
	branch = .
	ignore = dirty
[submodule "docs/submodules/sdc/sdc-workflow-designer.git"]
	path = docs/submodules/sdc/sdc-workflow-designer.git
	url = ../sdc/sdc-workflow-designer
	branch = .
	ignore = dirty
[submodule "docs/submodules/sdc/sdc_common.git"]
	path = docs/submodules/sdc/sdc_common.git
	url = ../sdc/sdc_common
	branch = .
	ignore = dirty
[submodule "docs/submodules/vid.git"]
	path = docs/submodules/vid.git
	url = ../vid
	branch = .
	ignore = dirty
[submodule "docs/submodules/vid/asdcclient.git"]
	path = docs/submodules/vid/asdcclient.git
	url = ../vid/asdcclient
	branch = .
	ignore = dirty
[submodule "docs/submodules/usecase-ui.git"]
	path = docs/submodules/usecase-ui.git
	url = ../usecase-ui
	branch = .
	ignore = dirty
[submodule "docs/submodules/so.git"]
	path = docs/submodules/so.git
	url = ../so
	branch = .
	ignore = dirty
[submodule "docs/submodules/so/libs.git"]
	path = docs/submodules/so/libs.git
	url = ../so/libs
