[submodule "docs/submodules/vnfrqts/guidelines"]
	path = docs/submodules/vnfrqts/guidelines
	url = ../vnfrqts/guidelines
	branch = .
	ignore = dirty
[submodule "docs/submodules/vnfrqts/requirements"]
	path = docs/submodules/vnfrqts/requirements
	url = ../vnfrqts/requirements
	branch = .
	ignore = dirty
[submodule "docs/submodules/appc/appc"]
	path = docs/submodules/appc/appc
	url = https://gerrit.onap.org/r/appc
