[access]
	inheritFrom = All-Projects
[project]
	description = Create and maintain documentation targeted to ONAP user audiences
[access "refs/*"]
	owner = group saml/onap-gerrit-doc-committers
	read = group GitHub Replication
[submit-requirement "Code-Review"]
	description = A maximum 'Code-Review' vote from a committer is required for the 'Code-Review' label. A minimum vote is blocking.
	submittableIf = label:Code-Review=MAX AND -label:Code-Review=MIN
	canOverrideInChildProjects = true
[submit-requirement "Verified"]
	description = A maximum 'Verified' vote from 'ONAP Required GHA' and one other CI or committer that is a non-uploader is required for the 'Verified' label. A minimum vote is blocking.
	submittableIf = label:Verified=MAX,user=non_uploader AND -label:Verified=MIN
	canOverrideInChildProjects = true
