lfdocs-conf
sphinxcontrib-blockdiag  # BSD
sphinxcontrib-needs
sphinxcontrib.plantuml
sphinxcontrib-nwdiag  # BSD
sphinxcontrib-seqdiag # BSD
sphinxcontrib-swaggerdoc
sphinx-rtd-theme
autopep8
sphinxcontrib-spelling
pylint
