lfdocs-conf
sphinxcontrib-blockdiag  # BSD
sphinxcontrib-needs<=0.5.6
sphinxcontrib.plantuml
sphinxcontrib-nwdiag  # BSD
sphinxcontrib-seqdiag # BSD
sphinxcontrib-swaggerdoc
sphinx-rtd-theme
autopep8
sphinxcontrib-spelling
pylint
# remove this once lfdocs-conf is fixed
funcparserlib>=1.0.0a0
